header{
    position: sticky;
}
.nav{
    position: fixed;
    background-color: #fff;
    display: flex;
    width: 100%;
    top: 0;left: 0;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.233);
    align-items: center;
}
.links{
    display: flex;
    justify-content: flex-end;
    width: 100%; 
    margin-right: 30px;
}
.link-item{
    padding: 0px 10px;
    text-decoration: none;
    color: green;
    
}
li{
    list-style-type: none;
}
h1{
    margin-left: 30px;
}
.intro{
    margin-top: 100px;
    display: flex;
    border-bottom: black;
    height: 500px;
    align-items: center;
    justify-content: space-around;
}
.avatar{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.intro > img:hover{
    transform: rotate(720deg);
    transition: 0.5s;
}
.proc{
    color: coral;
}
.Project{
    display: flex;
flex-wrap: wrap;
justify-content: space-around;
}
.project-card{
    width: 300px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px 30px;
}
.project-card  img{
    width: 300px;
   
}
.project-card p,a {
    padding: 10px 10px;
}
footer{
    background-color: black;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;

}
body{
    margin: 0;
}